body  {
  background-color: #FFFF6C;	
}

.jumbotron {
  background-color: #272722; color: #FFFFFF; text-align: center;
}

.footer {
  background-color: #272722; color: #FFFFFF; text-align: center; font-size: 10px; 
}
