body  {
  background-color: #636361;	
}

.jumbotron {
  background-color: #272722; color: #FFFFFF; text-align: center; height: 300px;
}

.footer {
  background-color: #272722; color: #FFFFFF; text-align: center; font-size: 10px; 
}

.modal, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: auto; 
  height: 300px; 
  margin: auto;
  color: black;
}
   
#err-msg-email, #err-msg-pwd, #err-msg-reg-firstname, #err-msg-reg-lastname,
#err-msg-reg-email, #err-msg-reg-birthday, #err-msg-reg-pwd, #err-msg-reg-pwd-conf, #err-msg-adm-log {
  color: red;
  display: none;  
}

#users-list {
  color: black;
  text-align: center;	
  display: none;
}
